    <div class="container">
      <div class="item">
        <img src="./../../assets/logo.png" />
      </div>
      <div class="item">
        <img src="./../../assets/logo.png" />
      </div>
      <div class="item">
        <img src="./../../assets/logo.png" />
      </div>
      <div class="item">
        <img src="./../../assets/logo.png" />
      </div>
      <div class="item">
        <img src="./../../assets/logo.png" />
      </div>
      <div class="item">
        <img src="./../../assets/logo.png" />
      </div>
    </div>
    <style>
      .container {
        padding: 0;
        text-align: center;
        width: 360;
        white-space: nowrap;
      }

      .item {
        display: inline-block;
        width: 120;
      }

      .item img {
        width: 120;
      }
    </style>